<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem Vindo a API Inicial do Projeto Million</h1>
    <p>Aqui estão as informações que serão mostradas</p>
    <a href="/adm.json" target="_blank" rel="noopener noreferrer">Acesse a Seção de Usuários</a>
  </body>
</html>
